* {
    margin: 0 auto;
    padding: 0 auto;
}
.handler {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 150px;
}
.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: 50px;
}
#inp {
    padding: 2px; 
    border: 2px solid rgb(182, 99, 31);
    border-radius: 5px;
    width: 100%;
}
#pasteButton{
    background-color: rgb(109, 69, 172);
    color: yellow;
    font-weight: bold;
    padding: 2px 16px;
}
.output {
    width: 100%;
    height: 25px;
    text-align: center;
    border-radius: 3px;
    background-color: #9cdfdf;
}