* {
    margin: 0 auto;
    padding: 0 auto;
}
.handler {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100px;
}
div .handler {
    padding: 10px;
}